html {
    color: var(--color-default);
    font-family: Fira Sans;
    font-size: 11pt;
    font-weight: 300;
    line-height: 1.5;
  }
  
h1 {
    color: var(--color-primary);
    font-size: 38pt;
    //margin: 5cm 2cm 0 2cm;
    margin: 3cm 0 0 0;
    page: no-chapter;
    width: 100%;
    text-align:center;
}
h2, h3, h4 {
    color: var(--color-default);
    font-weight: 400;
}
h2 {
    break-before: always;
    font-size: 28pt;
    string-set: heading content();
}
h3 {
    font-weight: 300;
    font-size: 15pt;
}
h4 {
    font-size: 13pt;
}

figcaption {
  width: 100%;
  text-align: center;
}

img + figcaption:before {
  content: 'Figure - ';
}

/* #contents {
  break-before: always;
  break-after: always;
} */

#contents ul li a::after {
  display: inline-box;
  background-color: var(--color-primary);
  color: var(--color-default);
  width: 0.5cm;
  text-align: center;
}
