@font-face {
    font-family: OpenDyslexic;
    font-weight: bold;
    src: url('OpenDyslexic-Bold.otf');
}
@font-face {
    font-family: OpenDyslexic;
    font-weight: normal;
    src: url('OpenDyslexic-Regular.otf');
}
