
/* /project/matrices/madcats-book/45-fix/4910-chapters-outro/print.scss */
// back to first version
.outro {
    border-radius: 50% 50% 0 0 / 15mm 15mm 0 0;
    display: block;
    height: 90mm;
    left: -30mm;
    max-width: none;
    object-fit: cover;
    position: absolute;
    top: 120mm;
    width: 168mm;
    z-index: -1;
}
