
/* /project/matrices/madcats-book/50-custom/1010-fonts-lexand/print.scss */
@font-face {
    font-family: SansSerif;
    font-weight: bold;
    src: url('/project/matrices/madcats-book/50-custom/1010-fonts-lexand/LexendDeca-Bold.ttf');
}
@font-face {
    font-family: SansSerif;
    font-weight: normal;
    src: url('/project/matrices/madcats-book/50-custom/1010-fonts-lexand/LexendDeca-Regular.ttf');
}
