@font-face {
    font-family: SansSerif;
    font-weight: bold;
    src: url('LexendDeca-Bold.ttf');
}
@font-face {
    font-family: SansSerif;
    font-weight: normal;
    src: url('LexendDeca-Regular.ttf');
}
