
/* /project/matrices/oscp-report/30-content-report/3130-new-chapter/print.scss */
#chapter {
    align-items: center;
    display: flex;
    height: 297mm;
    justify-content: center;
    page: chapter;
}