
/* /project/matrices/oscp-report/10-template-report/9999-page--last/print.scss */
#page-last {
    break-before: left;
    page: page-last;

/*     display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: red; */
}

#page-last div {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

// https://www.princexml.com/forum/topic/4063/insert-blank-page-at-the-end-of-pdf
/* :root::after {
    content: '';
    display: block;
    page-break-before: left
} */

@page page-last{
    background-color: var(--color-primary);
    @top-left { background: none; content: none }
    @top-right { content: none }
    @top-center { content: none }
  }

@page :blank {
    background-color: whitesmoke;
    @top-left { background: none; content: none }
    @top-center { content: none }
    @top-right { content: none }
  }