@font-face {
    font-family: SansSerif;
    font-weight: bold;
    src: url('firasans-bold.otf');
}
@font-face {
    font-family: SansSerif;
    font-weight: normal;
    src: url('firasans-regular.otf');
}
