
/* /project/matrices/courtbouillon-report/17-template-report-fix-541/1100-page--cover-fix/print.scss */
@page :first {
    background: url('/project/matrices/courtbouillon-report/17-template-report-fix-541/1100-page--cover-fix/report-cover.jpg') no-repeat center;
    background-size: cover;
    margin: 0;
}

#cover .addresses{
  position: absolute;
  bottom: 0;
  left:0;
  right: 0;
  height: auto;
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
#cover address {
  background-color: var(--color-primary);
  flex: 1 50%;
  margin: 0 -2cm;
  padding: 1cm 0;
  white-space: pre-wrap;
}
#cover address:first-of-type {
  padding-left: 3cm;
}